<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block Title %} admin {% endblock Title %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- MDB -->
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />

</head>
<body>
    {% include '_nav-admin.html' %}
    <h1>Base de donnée</h1>
    {% block content %}

    {% endblock  %}

    <script src="{% static 'blog/js/jquery.js'%}"></script>
    <script src="{% static 'blog/js/bootstrap.js'%}"></script>
    <script src="{% static 'blog/js/popper.js'%}"></script>
</body>
</html>